* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/backgroundgold.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 575px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    margin: 30px auto;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.triviaQuestion {
    width: 500px;
}

.questionDiv {
    width: 500px;
    border: 2px solid rgb(101, 74, 253);
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgba(8, 103, 247, 0.5);
}

.questionDiv:hover {
    background: rgba(240, 100, 186, 0.65);
}